/*
 *= require bootstrap-datepicker3
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.main-container {
  @extend .container;
  margin-top: 60px;
}

.panel-heading {
  h1{
    margin-top: 10px;
  }

  .btn-lg {
    margin-top: 5px;
  }
}

.config{
  @extend .text-center;
  width: 1px;
}

.btn-back {
  @extend .btn-link;
  padding: 0 !important;
  font-size: 1em;
}

.form-group {
  white-space: nowrap;

  select.date {
    @media (min-width: $screen-xs-min) {
      width: 32.9%;
    }
    @media (min-width: $screen-sm-min) {
      width: 32.9%;
    }
    @media (min-width: $screen-md-min) {
      width: 33.1%;
    }
    @media (min-width: $screen-lg-min) {
      width: 33.1%;
    }
    display: inline;
  }
  select.datetime {
    @media (min-width: $screen-xs-min) {
      width: 18.5%;
    }
    @media (min-width: $screen-sm-min) {
      width: 18.8%;
    }
    @media (min-width: $screen-md-min) {
      width: 19.1%;
    }
    @media (min-width: $screen-lg-min) {
      width: 19.2%;
    }
    display: inline;
  }

  label {
    &.date, &.datetime {
      display: block;
    }
  }
}